<ng-content select=".p1"></ng-content>
<ul class="list-group">
    <ng-content select=".header"></ng-content>
    <li *ngFor="let items of values" class="list-group-item d-flex justify-content-between align-items-center">
      {{items.name}}
      <span class="badge bg-primary rounded-pill">{{items.price}}</span>
    </li>
    <ng-content select=".link"></ng-content>
</ul>
<h1>hey dude lets make a counter</h1>
<hr>
<button (click)="inc()" class="btn btn-success">+</button>
<h1>{{counter}}</h1>
<button (click)="dec()" class="btn btn-primary">-</button>
<hr>
<h1>counter terminates here</h1>
<ng-content select=".p2"></ng-content>
