<h1 style="text-align:center;">welcome to angular page</h1>
<hr>
<div *ngFor="let items of pvalue">
  <p>{{items.name}}</p>
  
</div>
<nav class="navbar navbar-dark bg-success">
  <!-- Navbar content -->
  <ul class="nav">
    <li class="nav-item">
      <a (click)="setflag(1)" [ngClass]="flag==1?'nav-link active':'nav-link'"  routerLink="navbar">HOME</a>
    </li>
    <li class="nav-item">
      <a (click)="setflag(2)" [ngClass]="flag==2?'nav-link active':'nav-link'" routerLink="comp1">COMP1</a>
    </li>
    <li class="nav-item">
      <a (click)="setflag(3)" [ngClass]="flag==3?'nav-link active':'nav-link'" routerLink="comp2">COMP2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="comp5">comp5</a>

    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="comp6">comp6</a>

    </li>
    <li>
      <a class="nav-link" routerLink="form">form</a>
    </li>
    <li>
      <h1>{{allusers?.length}}</h1>
    </li>
   
  </ul>
</nav>

<router-outlet></router-outlet>

